In [39]:
import pandas as pd
from iexfinance.stocks import get_historical_data
from sqlalchemy import create_engine
from datetime import datetime

In [4]:
csv_file = "data/S&P.csv"
SP_df = pd.read_csv(csv_file)
SP_df.count()

date      619040
open      619029
high      619032
low       619032
close     619040
volume    619040
Name      619040
dtype: int64

In [5]:
csv_file = "data/NASDAQ_NYSE.csv"
NN_df = pd.read_csv(csv_file)
NN_df.count()

ticker       20973889
open         20973889
close        20973889
adj_close    20973889
low          20973889
high         20973889
volume       20973889
date         20973889
dtype: int64

In [32]:
print(f'nyse+nasdaq first date: {NN_df.date.min()} \ns&p first date: {SP_df.date.min()} \n\nnyse+nasdaq last date: {NN_df.date.max()} \ns&p last date: {SP_df.date.max()}')

nyse+nasdaq first date: 2013-02-11
s&p first date: 2013-02-11

nyse+nasdaq last date: 2018-02-06
s&p last date: 2018-02-06

In [10]:
if SP_df.date.max() > NN_df.date.max():
    endDate = NN_df.date.max()
else:
    endDate = SP_df.date.max() 
    
if SP_df.date.min() > NN_df.date.min():
    startDate = SP_df.date.min()
else:
    startDate = NN_df.date.min()

2013-02-08 2018-02-07

In [11]:
NN_df = NN_df[NN_df.date > startDate]
SP_df = SP_df[SP_df.date > startDate]

NN_df = NN_df[NN_df.date < endDate]
SP_df = SP_df[SP_df.date < endDate]

In [25]:
print(f'nyse+nasdaq first date: {NN_df.date.min()} \ns&p first date: {SP_df.date.min()} \n\nnyse+nasdaq last date: {NN_df.date.max()} \ns&p last date: {SP_df.date.max()}')

nyse+nasdaq first date: 2013-02-11
s&p first date: 2013-02-11

nyse+nasdaq last date: 2018-02-06
s&p last date: 2018-02-06

In [107]:
#renaming columns to symbol, dropping adj_close column
NN_df = NN_df.drop(columns=['adj_close'])
NN_df = NN_df.rename(columns={'ticker':'symbol'})
SP_df = SP_df.rename(columns={'Name':'symbol'})

In [63]:
csv_file = "data/ETFList.csv"
ETF_data = pd.read_csv(csv_file)
ETF_symbols = ETF_data['Symbol']

temp_data = pd.DataFrame()
ETF_df = pd.DataFrame()

start = datetime(2014, 1, 1)
end = datetime(2019, 1, 1)

for symbol in ETF_symbols:
    temp_data = get_historical_data(symbol, start, end, output_format = "pandas")
    temp_data['symbol'] = symbol
    etf_data = total_data.append(temp_data)

In [70]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [83]:
engine = create_engine('mysql://root:Monday4792!@@localhost:3306/etl')
Base.metadata.create_all(engine)

In [88]:
etf_data.to_sql(con=engine, name='ETF', if_exists = 'replace')

In [ ]:
stock_data = NN_df.append(SP_df)
stock_data.to_sql(con=engine, name='Stocks', if_exists = 'replace')

close     6421909
date      6421909
high      6421901
low       6421901
open      6421898
symbol    6421909
volume    6421909
dtype: int64

close     6421909
date      6421909
high      6421901
low       6421901
open      6421898
symbol    6421909
volume    6421909
dtype: int64

In [98]:
NN_df.columns

Index(['ticker', 'open', 'close', 'adj_close', 'low', 'high', 'volume',
       'date'],
      dtype='object')