In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [17]:
csv_file = "data/S&P.csv"
SP_df = pd.read_csv(csv_file)
SP_df.count()

date      619040
open      619029
high      619032
low       619032
close     619040
volume    619040
Name      619040
dtype: int64

In [18]:
csv_file = "data/NASDAQ_NYSE.csv"
NN_df = pd.read_csv(csv_file)
NN_df.count()

ticker       20973889
open         20973889
close        20973889
adj_close    20973889
low          20973889
high         20973889
volume       20973889
date         20973889
dtype: int64

In [19]:
print(f'nyse+nasdaq minimum date: {NN_df.date.min()}

'1970-01-02'

In [20]:
NN_df.date.max()

'2018-08-24'

In [21]:
SP_df.date.min()

'2013-02-08'

In [22]:
SP_df.date.max()

'2018-02-07'

In [23]:
if SP_df.date.max() > NN_df.date.max():
    endDate = NN_df.date.max()
else:
    endDate = SP_df.date.max() 
    
if SP_df.date.min() > NN_df.date.min():
    startDate = SP_df.date.min()
else:
    startDate = NN_df.date.min() 
    
print(startDate,endDate)

2013-02-08 2018-02-07

In [24]:
NN_df = NN_df[NN_df.date > startDate]
SP_df = SP_df[SP_df.date > startDate]

NN_df = NN_df[NN_df.date < endDate]
SP_df = SP_df[SP_df.date < endDate]

In [27]:
NN_df.date.max()

'2018-02-06'

In [28]:
NN_df.date.min()

'2013-02-11'